fastapi
uvicorn
pydantic
python-dotenv
pymongo
orjson

langchain-core
langchain==0.2.10
langchain-community==0.2.6
langchain-groq
langchain-text-splitters

fastembed==0.7.3
numpy==2.1.1
